---
import { getCollection, render } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blog");

  return blogs.map((blog) => ({
    params: { slug: blog.data.slug },
    props: { blog },
  }));
}
const { blog: post } = Astro.props;
const { Content } = await render(post);

const isoDate = new Date(post.data.startDate).toISOString();
const date = new Date(post.data.startDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BlogLayout
  title=`${post.data.title} - shasherazi's blog`
  description={post.data.description}
  startDate={isoDate}
  author={post.data.author}
>
  <main class="px-48 max-lg:px-24 max-md:px-16 max-sm:px-8">
    <h1 class="text-4xl max-md:text-3xl font-semibold text-accent">
      {post.data.title}
    </h1>
    <p class="text-sm mt-1 mb-8">{date}</p>
    <div class="markdown-content flex flex-col gap-4">
      <Content />
    </div>
  </main>
</BlogLayout>
